In [9]:
import pandas as pd

bus = pd.read_csv("Valley_Metro_Bus_Ridership.csv")

bus.head()

,X,Y,OBJECTID,StopID,NextRide,Location,Juris,Photo,Routes,Day_Category,Q2015_2,Q2015_3,Q2015_4,Q2016_1,Q2016_2,Q2016_3,Q2016_4
0,-112.169247,33.445812,4001,1368,18489.0,SB 51ST AVE FS MADISON ST,Phoenix,NaN,51,Weekday,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,-112.169327,33.439301,4002,1369,18490.0,SB 51ST AVE FS HADLEY ST,Phoenix,NaN,51,Weekday,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,-112.169389,33.436022,4003,1370,18491.0,SB 51ST AVE FS BUCKEYE RD,Phoenix,NaN,51,Weekday,5.0,5.0,5.0,5.0,5.0,5.0,5.0
3,-112.169390,33.430641,4004,1371,18492.0,SB 51ST AVE FS MOHAVE ST,Phoenix,NaN,51,Weekday,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,-112.169404,33.425455,4005,1372,18493.0,SB 51ST AVE FS WATKINS ST,Phoenix,NaN,51,Weekday,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [30]:
import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np

x0 = bus.Q2015_2
x1 = bus.Q2015_3
x2 = bus.Q2015_4
x3 = bus.Q2016_1
x4 = bus.Q2016_2

April_June_2015 = go.Histogram(
    x=x0
)
July_September_2015 = go.Histogram(
    x=x1
)    
October_December_2015 = go.Histogram(
    x=x2
)    
January_March_2016 = go.Histogram(
    x=x3
)    
April_June_2016 = go.Histogram(
    x=x4
)
data = [April_June_2015, July_September_2015, October_December_2015, January_March_2016, April_June_2016]
layout = go.Layout(barmode='stack')
fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='stacked histogram')

In [21]:
bus.Q2015_2.mean()

12.499704927707288

In [22]:
bus.Q2015_3.mean()

12.0919150191797

In [23]:
bus.Q2015_4.mean()

12.105930953083506

In [24]:
bus.Q2016_1.mean()

12.938108586603718

In [25]:
bus.Q2016_2.mean()

12.226172912363529

In [26]:
bus.Q2016_3.mean()

12.0919150191797

In [27]:
bus.Q2016_4.mean()

12.12887282384184