# Daily Weather Data Analysis

In [1]:
import pandas as pd
import toyplot

In [2]:
df = pd.read_csv("march_2015.csv")

In [3]:
df.head()

     Date  high  low  average    x  x.1  x.2    xx  x.3  x.4
0  3/1/15    77   61     69.0  6.9    0    4  0.00    0    0
1  3/2/15    66   52     59.0 -3.3    6    0  0.23    0    0
2  3/3/15    65   47     56.0 -6.5    9    0  0.07    0    0
3  3/4/15    70   47     58.5 -4.2    6    0  0.00    0    0
4  3/5/15    75   46     60.5 -2.4    4    0  0.00    0    0

In [7]:
import plotly.plotly as py
import plotly.graph_objs as go

y=df.average
x=df.Date

data = [go.Bar(
            x=x,
            y=y
    )]

#enables you to add title, axes, and customize it
layout = go.Layout(
    title='Average Daily Temperature March, 2015: Phoenix, AZ',
    xaxis=dict(
        title='Date',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Temperature - degrees F',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='avg_daily_temp')